main{

    width: 100%;
    min-height: 600px;
    height: 100%;
    background: rgb(42, 42, 51);

}

.tituloPagina{

    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.carta{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 500ms linear;
  
}

.cartaLayout{
    
    width: 117px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px;

}

.frente{
    position: absolute;
    background: #ffffff;
    border: 1px solid #99CEA8;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.fundo{
 
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    backface-visibility: hidden;
}

.fundo > img, .frente >img{
    width: 100px;
    height: 100px;
    
}

.flip{
    transform: rotateY(180deg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4% 10%;

}

@media (max-width: 614px){

    .container{
        
        margin: 30px auto 10px auto;
    }

    main{

        height: 100%;
        min-width: 233px;
    }

    .tituloPagina{
        margin-left: auto;
        margin-right: auto;
    }

}
